
node_modules/bindings/bindings.js
node_modules/bindings/LICENSE.md
node_modules/bindings/package.json
node_modules/bindings/README.md
node_modules/file-uri-to-path/.npmignore
node_modules/file-uri-to-path/.travis.yml
node_modules/file-uri-to-path/History.md
node_modules/file-uri-to-path/index.d.ts
node_modules/file-uri-to-path/index.js
node_modules/file-uri-to-path/LICENSE
node_modules/file-uri-to-path/package.json
node_modules/file-uri-to-path/README.md
node_modules/file-uri-to-path/test/test.js
node_modules/file-uri-to-path/test/tests.json
node_modules/midi/binding.gyp
node_modules/midi/build/binding.sln
node_modules/midi/build/config.gypi
node_modules/midi/build/midi.vcxproj
node_modules/midi/build/midi.vcxproj.filters
node_modules/midi/build/Release/midi.exp
node_modules/midi/build/Release/midi.ilk
node_modules/midi/build/Release/midi.lib
node_modules/midi/build/Release/midi.node
node_modules/midi/build/Release/midi.pdb
node_modules/midi/build/Release/obj/midi/input.obj
node_modules/midi/build/Release/obj/midi/midi.obj
node_modules/midi/build/Release/obj/midi/midi.tlog/CL.20800.write.1.tlog
node_modules/midi/build/Release/obj/midi/midi.tlog/CL.command.1.tlog
node_modules/midi/build/Release/obj/midi/midi.tlog/CL.read.1.tlog
node_modules/midi/build/Release/obj/midi/midi.tlog/link.command.1.tlog
node_modules/midi/build/Release/obj/midi/midi.tlog/link.read.1.tlog
node_modules/midi/build/Release/obj/midi/midi.tlog/link.write.1.tlog
node_modules/midi/build/Release/obj/midi/midi.tlog/midi.lastbuildstate
node_modules/midi/build/Release/obj/midi/midi.tlog/midi.write.1u.tlog
node_modules/midi/build/Release/obj/midi/output.obj
node_modules/midi/build/Release/obj/midi/RtMidi.obj
node_modules/midi/build/Release/obj/midi/win_delay_load_hook.obj
node_modules/midi/CHANGELOG.md
node_modules/midi/LICENSE
node_modules/midi/midi.js
node_modules/midi/package.json
node_modules/midi/README.md
node_modules/midi/src/input.cpp
node_modules/midi/src/input.h
node_modules/midi/src/midi.cpp
node_modules/midi/src/output.cpp
node_modules/midi/src/output.h
node_modules/midi/test/fixture/144-23-81.bin
node_modules/midi/test/input/input-hang-test.js
node_modules/midi/test/input/input-list-test.js
node_modules/midi/test/input/input-port-status-test.js
node_modules/midi/test/input/input-reopen-test.js
node_modules/midi/test/input/input-test.js
node_modules/midi/test/input/virtual-input-test.js
node_modules/midi/test/output/output-list-test.js
node_modules/midi/test/output/output-port-status-test.js
node_modules/midi/test/output/output-test.js
node_modules/midi/test/output/virtual-output-test.js
node_modules/midi/test/unit/input.js
node_modules/midi/test/unit/output.js
node_modules/midi/test/virtual-loopback-test-automated.js
node_modules/midi/test/virtual-loopback-test.js
node_modules/midi/test/virtual-read-stream-resume-test.js
node_modules/midi/test/virtual-read-stream-test.js
node_modules/midi/test/virtual-write-stream-test.js
node_modules/midi/vendor/rtmidi/.gitattributes
node_modules/midi/vendor/rtmidi/.github/issue_template.md
node_modules/midi/vendor/rtmidi/.travis.yml
node_modules/midi/vendor/rtmidi/autogen.sh
node_modules/midi/vendor/rtmidi/cmake/RtMidiConfigUninstall.cmake.in
node_modules/midi/vendor/rtmidi/CMakeLists.txt
node_modules/midi/vendor/rtmidi/configure.ac
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi.go
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_stub.cpp
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_stub.h
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_test.go
node_modules/midi/vendor/rtmidi/doc/doxygen/Doxyfile.in
node_modules/midi/vendor/rtmidi/doc/doxygen/footer.html
node_modules/midi/vendor/rtmidi/doc/doxygen/header.html
node_modules/midi/vendor/rtmidi/doc/doxygen/samples/getting_started.cpp
node_modules/midi/vendor/rtmidi/doc/doxygen/tutorial.txt
node_modules/midi/vendor/rtmidi/doc/images/ccrma.gif
node_modules/midi/vendor/rtmidi/doc/images/mcgill.gif
node_modules/midi/vendor/rtmidi/doc/Makefile.am
node_modules/midi/vendor/rtmidi/doc/release.txt
node_modules/midi/vendor/rtmidi/LICENSE
node_modules/midi/vendor/rtmidi/Makefile.am
node_modules/midi/vendor/rtmidi/msw/readme
node_modules/midi/vendor/rtmidi/msw/rtmidilib.sln
node_modules/midi/vendor/rtmidi/msw/rtmidilib.vcproj
node_modules/midi/vendor/rtmidi/README.md
node_modules/midi/vendor/rtmidi/rtmidi-config.in
node_modules/midi/vendor/rtmidi/RtMidi.cpp
node_modules/midi/vendor/rtmidi/RtMidi.h
node_modules/midi/vendor/rtmidi/rtmidi.pc.in
node_modules/midi/vendor/rtmidi/rtmidi_c.cpp
node_modules/midi/vendor/rtmidi/rtmidi_c.h
node_modules/midi/vendor/rtmidi/tests/apinames.cpp
node_modules/midi/vendor/rtmidi/tests/cmidiin.cpp
node_modules/midi/vendor/rtmidi/tests/cmidiin.dsp
node_modules/midi/vendor/rtmidi/tests/Debug/.placeholder
node_modules/midi/vendor/rtmidi/tests/Makefile.am
node_modules/midi/vendor/rtmidi/tests/midiclock.cpp
node_modules/midi/vendor/rtmidi/tests/midiout.cpp
node_modules/midi/vendor/rtmidi/tests/midiout.dsp
node_modules/midi/vendor/rtmidi/tests/midiprobe.cpp
node_modules/midi/vendor/rtmidi/tests/midiprobe.dsp
node_modules/midi/vendor/rtmidi/tests/qmidiin.cpp
node_modules/midi/vendor/rtmidi/tests/qmidiin.dsp
node_modules/midi/vendor/rtmidi/tests/Release/.placeholder
node_modules/midi/vendor/rtmidi/tests/RtMidi.dsw
node_modules/midi/vendor/rtmidi/tests/sysextest.cpp
node_modules/midi/vendor/rtmidi/tests/sysextest.dsp
node_modules/nan/CHANGELOG.md
node_modules/nan/doc/asyncworker.md
node_modules/nan/doc/buffers.md
node_modules/nan/doc/callback.md
node_modules/nan/doc/converters.md
node_modules/nan/doc/errors.md
node_modules/nan/doc/json.md
node_modules/nan/doc/maybe_types.md
node_modules/nan/doc/methods.md
node_modules/nan/doc/new.md
node_modules/nan/doc/node_misc.md
node_modules/nan/doc/object_wrappers.md
node_modules/nan/doc/persistent.md
node_modules/nan/doc/scopes.md
node_modules/nan/doc/script.md
node_modules/nan/doc/string_bytes.md
node_modules/nan/doc/v8_internals.md
node_modules/nan/doc/v8_misc.md
node_modules/nan/include_dirs.js
node_modules/nan/LICENSE.md
node_modules/nan/nan.h
node_modules/nan/nan_callbacks.h
node_modules/nan/nan_callbacks_12_inl.h
node_modules/nan/nan_callbacks_pre_12_inl.h
node_modules/nan/nan_converters.h
node_modules/nan/nan_converters_43_inl.h
node_modules/nan/nan_converters_pre_43_inl.h
node_modules/nan/nan_define_own_property_helper.h
node_modules/nan/nan_implementation_12_inl.h
node_modules/nan/nan_implementation_pre_12_inl.h
node_modules/nan/nan_json.h
node_modules/nan/nan_maybe_43_inl.h
node_modules/nan/nan_maybe_pre_43_inl.h
node_modules/nan/nan_new.h
node_modules/nan/nan_object_wrap.h
node_modules/nan/nan_persistent_12_inl.h
node_modules/nan/nan_persistent_pre_12_inl.h
node_modules/nan/nan_private.h
node_modules/nan/nan_scriptorigin.h
node_modules/nan/nan_string_bytes.h
node_modules/nan/nan_typedarray_contents.h
node_modules/nan/nan_weak.h
node_modules/nan/package.json
node_modules/nan/README.md
node_modules/nan/tools/1to2.js
node_modules/nan/tools/package.json
node_modules/nan/tools/README.md
